/* Estilos para o corpo do documento */
body {
    background: linear-gradient(to bottom, rgb(50, 88, 93), rgb(29, 40, 42)); /* Gradiente de fundo */
    height: 100vh; /* Altura total da tela */
    color: black; /* Cor padrão do texto */
    font-family: sans-serif; /* Fonte padrão */
    display: flex;
    flex-direction: column; /* Layout de coluna para alinhamento central */
    align-items: center; /* Alinhamento central horizontal */
    justify-content: center; /* Alinhamento central vertical */
    padding: 20px; /* Espaçamento interno */
    transition: all 0.25s ease-in-out; /* Transição suave para mudanças de estilo */
}

/* Estilos específicos para a playlist "start" */
body.start {
    background: linear-gradient(to bottom, rgb(218, 5, 9), rgb(73, 3, 4)); /* Cores diferentes para "boomBapFlick" */
    transition: all 0,25 ease-in-out;
}

/* Estilos para os botões */
button {
    background-color: inherit; /* Cor de fundo herda do pai */
    color: inherit; /* Cor do texto herda do pai */
    border: none; /* Remove borda */
    cursor: pointer; /* Altera cursor para indicar interatividade */
}

/* Estilos para a seção #parte1 */
#parte1 {
    display: flex; /* Exibe como flex container */
    flex-direction: row; /* Layout de linha para alinhamento dos elementos */
    justify-content: space-between; /* Espaço entre os elementos */
    align-items: center; /* Alinhamento vertical central */
    width: 100%; /* Largura total */
    max-width: 600px; /* Largura máxima */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilos para a seção #parte2 */
#parte2 {
    display: flex; /* Exibe como flex container */
    flex-direction: row; /* Layout de linha para alinhamento dos elementos */
    justify-content: space-around; /* Espaço uniforme ao redor dos elementos */
    align-items: center; /* Alinhamento vertical central */
    width: 100%; /* Largura total */
    max-width: 600px; /* Largura máxima */
    margin-top: 20px; /* Espaçamento superior */
}

/* Estilos para os botões */
.button {
    font-size: 1.5em; /* Tamanho padrão dos botões */
}

.button2 {
    font-size: 3em; /* Tamanho maior para botões específicos */
}

.button3 {
    font-size: 4em; /* Tamanho ainda maior para o botão de play */
}

/* Estilos para a imagem #capa */
#capa { 
    width: 450px; /* Largura fixa para a imagem da capa */
}

/* Estilos para a seção #playlist */
#playlist {
    display: flex; /* Exibe como flex container */
    flex-direction: row; /* Layout de linha para alinhamento dos elementos */
    justify-content: center; /* Alinhamento central horizontal */
    margin: 1em 0 4em 0; /* Margens para espaçamento */
}

/* Estilos para o texto #musica */
#musica {
    font-size: 1.6em; /* Tamanho da fonte do nome da música */
    font-weight: bolder; /* Texto em negrito */
}

/* Estilos para o elemento #barra (barra de progresso) */
#barra {
    background-color: rgb(139, 153, 156); /* Cor de fundo da barra de progresso */
    height: 3px; /* Altura da barra */
    width: 100%; /* Largura total */
    border-radius: 15px; /* Cantos arredondados */
    margin-bottom: 1em; /* Espaçamento inferior */
}

/* Estilos para o elemento #progresso (indicador de progresso) */
#progresso {
    background-color: white; /* Cor de fundo do indicador de progresso */
    height: inherit; /* Altura herda do elemento pai */
    width: 50%; /* Largura inicial do progresso */
    border-radius: inherit; /* Cantos arredondados */
}
.button-ativado {
    color: rgb(11, 213, 11);
}